## Logistic Regression

Using classes this time

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("data/aps.csv")
df = df.reindex(np.random.permutation(df.index))
df = df.drop("ID", axis =1)
df.head()

,PLACE,PLACE3,AGE,RACE,GENDER,NEURO,EMOT,DANGER,ELOPE,LOS,BEHAV,CUSTD,VIOL
502,3,2,11.81930,0,0,0,0,2,1,6,8,1,1
90,3,2,15.48528,1,0,1,1,3,1,187,8,1,1
340,1,0,12.61054,1,0,3,0,1,1,5,6,0,1
476,3,2,16.71732,0,0,1,0,3,0,171,8,0,1
163,2,1,11.36208,0,0,0,0,2,0,6,7,1,1

In [2]:
class LogisticRegression():
    
    def __init__(self, data_train, target_train, iters, alpha=0.1):
        
        self.n = data_train.shape[1]
        self.X_train = data_train
        self.y_train = np.reshape(target_train, (target_train.shape[0], 1))
        self.theta = np.reshape(np.zeros(self.n), (self.n, 1))
        self.iters = iters
        self.alpha = alpha
    
    def sigmoid(self):
        
        mid = np.dot(self.X_train, self.theta)
        
        return 1.0 / (1. + np.exp(-mid))
        
    def gradient(self):
        
        mid = (self.sigmoid() - self.y_train)

        return (self.alpha / self.n) * np.dot(self.X_train.T, mid)
    
    def update_weights(self):

        self.theta = self.theta - self.gradient()
        
        # print self.theta
        
    def train(self):
        
        for i in range(self.iters):
            self.update_weights()
            
    def predict(self, X_test):
        
        score = np.exp(-np.dot(X_test, self.theta))
        binary = [1 if score[i] > 0.5 else 0 for i in range(len(score))]
        
        return binary
    
    def evaluate(self, predictions, target_test):
    
        return np.mean(predictions == target_test)

In [3]:

def main():
    
    data = df.iloc[:,:-1]
    target = df.iloc[:, -1]
    cutoff = int(len(data) * .8)
    X_train, X_test = data[:cutoff], data[cutoff:]
    y_train, y_test = target[:cutoff], target[cutoff:]

    lr = LogisticRegression(X_train, y_train, 5)
    lr.train()

    predictions = lr.predict(X_test)
    
    accuracy = lr.evaluate(predictions, y_test)
    
    print "accuracy: ", accuracy
    
main()

accuracy:  0.254901960784